
@each $item in 1,2,3,4,5 {
    .alebrije-#{$item} {

        img {
            background-color: red;
            background-image: url('../static/img/alebrije#{$item}.png');
        }
        height: 10px;
        // height: 200px;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
    }
}

.alebrije--bigger {
    height: 330px;
}